:root {
  --verydarkgrayishblue: hsl(217, 19%, 35%);
  --desaturateddarkblue: hsl(214, 17%, 51%);
  --grayishblue: hsl(212, 23%, 69%);
  --lightgrayishblue: hsl(210, 46%, 95%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--lightgrayishblue);
  font-family: 'Manrope', sans-serif;
}

#wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#container {
  position: relative;
  margin-top: 2rem;
  display: grid;
  width: 330px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 5px rgb(109, 127, 151, 0.2);
}

#main-img-container {
  height: 220px;
  overflow: hidden;
}

#drawers {
  width: 100%;
  height: auto;
}

#text-container {
  margin: 36px 38px 0 32px;
}

#byline-container {
  padding: 17px 32px 22px;
  display: flex;
  align-items: center;
}

#michelle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 17px;
}

#share-img-container {
  background-color: var(--lightgrayishblue);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

#share-img-container img{
  width: 15px;
  height: auto;
}

#social-media-container {
  background-color: var(--verydarkgrayishblue);
  padding: 15px 32px 15px;
  display: flex;
  gap: 17px;
  align-items: center;
}

#share-img-container-dark {
  background-color: var(--desaturateddarkblue);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

#share-img-dark {
  color: white;
}

#share-tooltip {
  position: absolute;
  z-index: 1000;
  left: 74.2%;
  top: 46.5%;
  background-color: var(--verydarkgrayishblue);
  border: 1px solid var(--verydarkgrayishblue);
  border-radius: 10px;
  width: 170px;
  padding: 13px 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#share-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--verydarkgrayishblue) transparent transparent transparent;
}